spring:
  application:
    name: student-aop

  datasource:
    url: ${SPRING_DATASOURCE_URL_STUDENTMGM}
    username: ${SPRING_DATASOURCE_STUDENT_USERNAME}
    password: ${SPRING_DATASOURCE_STUDENT_PASSWORD}
    driver-class-name: ${SPRING_DATASOURCE_DRIVER_CLASS_NAME}

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    show-sql: true

  flyway:
    enabled: false
  jwt:
    secret: ${JWT_SECRET}